
.interaction-container {
    align-content: center;
}

.NpcContainer {
    border: solid;
    margin: 10px;
    padding: 2px;
}

.NpcContainer > h3 {
    color: black;
    background-color: lightblue;
}

.IntentContainer {
    border: dashed;
    margin: 5px;
    padding: 3px;
}

.IntentContainer li {
    margin-left: 5px;
    
}

.destroy-button {
    float: right;
    position: relative;
}

.download-button {
    width: 100%;
    background-color: aliceblue;
}

.form-style input {
    width: 40%;
    background-color: azure;
    margin-left: 10px;
}
